body {
    background-color: DarkOrchid;
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;

    display: grid;
    grid-template-columns: 80% 20%;
}

#menu {
    margin: 0;
    padding: 0;
    background-color: chartreuse;
    width: 35px;
    height: 100vh;
    margin-left: auto;
    list-style-type: none;
}

#contenitore_menu li {
    height: 40px;
    width: 40px;
    border-radius: 500px;
    background-color: chartreuse;

    position: relative;
    left: -20px;
    top: 100px;
    margin-bottom: 10px;
}


#contenitore_titolo {
    max-width: 39vw;
    margin-top: 80px;
}

#titolo {
    color: Chartreuse;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-size: 20pt;
    margin-bottom: 0px;
    margin-left: 10px;
    
}

#figura {
    height: 25px;
    background-color: chartreuse;
    border-radius: 0px 50px 50px 0px;
}


#corpo{
    margin: 30px 0px 0px 15px;
    overflow: hidden;
}

#contenitore_immagini{
    display: grid;
    grid-template-columns: 1fr 1fr;
}
#contenitore_immagini #bho{
    display: grid;
    grid-template-rows: 1fr 1fr;
}

.p{
    width: 130px;
    height: 100px;
}

.g{
    width: 100%;
    height: 100%;
}