body {
      background-color: DarkOrchid;
      margin: 0;
      padding: 0;
      font-family: Arial, Helvetica, sans-serif;
      font-weight: bold;

      display: grid;
      grid-template-columns: 90% 10%;
      height: 100vh;
      width: 100vw;
}

#menu {
      margin: 0;
      padding: 0;
      background-color: chartreuse;
      width: 35px;
      height: 100%;
      margin-left: auto;
      list-style-type: none;
}

#contenitore_menu li {
      height: 40px;
      width: 40px;
      border-radius: 500px;
      background-color: darkorchid;

      position: relative;
      left: -20px;
      top: 95px;
      margin-bottom: 10px;
}

#menu li img {
      width: 30px;
}

#contenitore_titolo {
      max-width: 35vw;
      margin-top: 80px;
}

#titolo {
      color: Chartreuse;
      font-family: Arial, Helvetica, sans-serif;
      font-weight: bold;
      font-size: 20pt;
      margin-bottom: 0px;
      text-align: center;
}

#figura {
      height: 20px;
      background-color: chartreuse;
      border-radius: 0px 50px 50px 0px;
}


#contenitore_corpo {
      margin-top: 50px;
      margin-left: 10px;
      display: grid;
      grid-template-columns: 1fr 1fr;
}



#contenitore_corpo img {
      width: 150px;
      height: 190px;
      margin: auto;
      border-radius: 20px;
}
#contenitore_corpo p{
      margin-top: 10px;
      margin-bottom: 20px;
}

#contenitore_corpo>.piccolo>img {
      width: 150px;
      height: 140px;
      margin: auto;
}


#mostra_img {
      display: none;
      background-color: darkorchid;
      position: fixed;
      height: 100vh;
      width: 100vw;
      overflow: hidden;
}


#return {
      margin-top: 60px;
      width: 100px;
}

#contenitore {
      position: absolute;
      left: 20%;
      top: 15%;
      max-width: 240px;
}

#contenitore>img {
      width: 240px;
      height: 400px;
      border-radius: 20px;
}

#contenitore>p {
      margin-top: 30px;
      padding: 10px;
      background-color: #8A7F8D;
      height: 70px;
      border-radius: 10px;
}